<!DOCTYPE html>

<html>

<head>
  
  <title>SelfieLessActs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="index.css">
  {% block head %}
  {% endblock %}
</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SelfieLessActs</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/feed">All</a></li>
          <li><a href="#">Animal Rescue</a></li>
          <li><a href="#">Environmental Care</a></li>
          <li><a href="#">Social Good</a></li>
        </ul>
      </li>
      <li><a href="#">Your Posts</a></li>
    </ul>
  </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>

