{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
    {% for item in images %}
    	<div class="row" style="margin: 40px">
    	<div class="col-md-4 offset-md-4" style=" font-size:150%; text-align:center;"><img src="{{item[0]}}" style="width:600px; padding-bottom:0.5em;">
    	<figcaption align="bottom">{{item[1]}}</figcaption>
    	<form action="/tag" method="POST" enctype="multipart/form-data">
                {% for x in item[2] %}
                    <div class="col-md-1 col-md-offset-5 col-centered">
                    <input type="submit" class="btn btn-info" name="tags" value="{{x}}">
                
                    </div>
                {% endfor %}
    			 <div class="col float-xl-right">
    			 	{% set img_url = item[0].split('/static/')[1] %}
    				<a href="/delete/{{ img_url }}" class="btn btn-danger">Delete</a>
				</div>
    	</form>
    	</div>
        </div>
    {% endfor %}
{% endblock %}